@tailwind base;
@tailwind components;
@tailwind utilities;

.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f2f5;
}
